
.cardContainer {
  width: 768px;
  height: auto;
  background-color: white;
  display: grid;
  grid-template-columns: 70% 30%;
  box-shadow: 2px 3px 10px 0px rgba(0, 0, 0, 0.35);
}
.imgContainer {
  display: grid;
  place-content: center;
}
.cardTitle {
  color: black;
  text-align: center;
}
