.container {
  background-color: #e7e7e7;
  display: flex;
  flex-direction: center;
  justify-content: center;
  height: 100vw;
}
.cardContainer {
  width: 200px;
  height: 200px;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 3px 10px 0px rgba(0, 0, 0, 0.35);
}
.cardTitle {
  color: black;
  text-align: center;
}
.cardImage {
  width: 100%;
}
