.cardContainer {
  width: 265px;
}
.cardContainer:hover {
  box-shadow: 2px 3px 10px 0px rgba(0, 0, 0, 0.35);
}

.title {
  color: red;
}

.cardImageContainer {
  background-color: white;
  width: 100%;
  height: 285px;
  border-radius: 4px 4px 0px 0px;
  margin: 0;
  padding: 0;
  display: grid;
  place-content: center;
}
.cardInformation {
  background-color: white;
  width: 100%;
  height: 220px;
}
.cardInformationContent {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cardImage {
  object-fit: cover;
  width: 100%;
  max-height: 250px;
}
.cardInformationContent {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cardInformationContent > span:nth-child(1) {
  color: #333333;
  font-size: 24px;
  font-weight: bold;
}

.cardInformationContent > span:nth-child(2) {
  color: #999999;
  font-size: 14px;
}

.cardInformationContent > span:nth-child(3) {
  color: #333333;
  font-size: 18px;
  font-weight: 500;
  margin-top: 10px;
}

.cardInformationContent > span:nth-child(4) {
  color: #999999;
  font-size: 14px;
}
